[Unit]
Description=Run archive-instagram every three hours
Requires=archive-instagram.service

[Timer]
Unit=archive-instagram.service
OnUnitInactiveSec=6h
RandomizedDelaySec=1h
AccuracySec=1s

[Install]
WantedBy=timers.target