[Unit]
Description=Run archive-instagram every six hours
Requires=archive-instagram.service

[Timer]
Unit=archive-instagram.service
OnUnitInactiveSec=6h
RandomizedDelaySec=30m
AccuracySec=1s

[Install]
WantedBy=timers.target