[Unit]
Description=Run archive-youtube every twelve hours
Requires=archive-youtube.service

[Timer]
Unit=archive-youtube.service
OnUnitInactiveSec=12h
RandomizedDelaySec=3h
AccuracySec=1s

[Install]
WantedBy=timers.target